/* @media (prefers-color-scheme: light) {
  :root {
    --color: #222;
    --background: #eee;
    --text: 'light';
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #eee;
    --background: #222;
    --text: 'dark';
  }
}
@viewport {
	min-width: 385px;
	orientation: landscape;
}*/
/* header { */
    /* Высота статус-бара в iOS 10 */
    /* padding-top: 20px;*/
    /* Высота статус-бара в iOS 11.0 */
    /* padding-top: constant(safe-area-inset-top); */
    /* Высота статус-бара в iOS 11+ */
    /* padding-top: env(safe-area-inset-top); */
/* } */
@font-face {
    font-family: "LostInSpace";
    src: url("../fonts/lostinspace.woff2") format("woff2");
}
* {
	margin: 0px;
	padding: 0px;
	/* Убираем синюю подсветку */
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent;
	/* Предотвращаем появление контекстного меню */
	-webkit-touch-callout: transparent;
	/* Отключить автоуменьшение шрифтов */
	-webkit-text-size-adjust: none;
	/* Запрет выделения */
	user-select: none;
	/* Отключить перетаскивание */
	-webkit-user-drag: none;
	/* Настройка шрифтов */
	font-family: "LostInSpace";
    font-weight: bold;
    font-style: normal;
	/* Выравнивание */
	text-align: center;
	justify-content: center;
	align-items: safe center;
	/* Отключение тача*/
	/* touch-action: none; */
	/* Фиксим баг в хроме */
	-webkit-transition-duration: 0.5s;
	-webkit-perspective: 900px;
	/* Анимация */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	animation-composition: replace;
	animation-timeline: squareTimeline;
	/* Fix */
	padding-top: env(safe-area-inset-top);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
}
html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100dvh;
	position: absolute;
	box-sizing: border-box;
	/* transition: transform 0.3s ease; */
	width: calc(var(--vw, 1vw) * 100);
	height: calc(var(--vh, 1vh) * 100);
	/* overflow: hidden; */
	/* Выравнивание */
	text-align: center;
	justify-content: center;
	align-items: safe center;
}
body {
	cursor: url("../img/cur_default.png?nocache=true"), default;
	/* color: #b00000; */
	/* background-image: url("../img/wallpaper_main.png?nocache=true"); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* Отключение обновления страницы (Потянуть вниз для обновления) */
	overscroll-behavior-y: contain;
}
a, a:active, a:visited, a:hover {
	text-decoration: none;
}
a:focus {
    transform: scale(1.1);
	/* Удалить контур, появляющийся при активации ссылок */
	outline: none;
}
/* Удалить контур, появляющийся при активации ссылок */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
input, textarea {
	user-select: text;
}
textarea, input, select, option, button {
	/* Наследовать шрифт от родителя */
	font-family: inherit;
	font-weight: inherit;
}
ul, li {
	/* Прощайте, нежелательные маркеры в навигационном меню! */
	list-style: none;
}
ul, li::before {
	/* Забудьте о стандартных маркерах, когда можно внести уникальное оформление! */
	/* content: "•"; */
	content: "";
	font-weight: bold;
}
select {
	background: url('../img/strelka_red.png') no-repeat right 10px center;
	padding: 5px 30px 5px 10px;
	cursor: url("../img/cur_pointer.png?nocache=true"), pointer;
	appearance: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; /* Скрывает длинный текст */
}
select option[disabled] {
	display: none;
}
::selection {
	background: #b00000;
}
::-moz-selection {
	background: #b00000;
}
input {
	padding: 5px;
	margin: 10px;
	cursor: url("../img/cur_pointer.png?nocache=true"), pointer;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
input[type = "text"]::placeholder {
	text-align: center; /* Плейсхолдер теперь центрирован */
}
input[type = "password"]::placeholder {
	text-align: center; /* Плейсхолдер теперь центрирован */
	-webkit-text-security: disc;
}
img {
	object-fit: contain;
	/* Отключить кликабельность */
	pointer-events: none;
	filter: drop-shadow(0 8px 10px rgba(0,0,0,0.2));
	vertical-align: middle; /* Выравнивание по вертикали с текстом */
	display: inline-block; /* Позволяет элементу занимать только нужное место */
}
span {
	color: #1a1c1e;
	font-size: 20px;
	/* position: relative; */
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	text-wrap: balance;
	background-clip: padding-box; /* Точное обрезание фона */
	/* Отключить кликабельность */
	pointer-events: none;
	/* Обводка текста */
	/* text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.1),1px -1px 0 rgba(0, 0, 0, 0.1),-1px 1px 0 rgba(0, 0, 0, 0.1),1px 1px 0 rgba(0, 0, 0, 0.1); */
	vertical-align: middle; /* Выравнивание по вертикали с текстом */
}
button {
	width: auto;
	height: auto;
	background-color: #ffffff;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	cursor: url("../img/cur_pointer.png?nocache=true"), pointer;
	padding: 5px;
	margin: 5px;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	/* white-space: nowrap; */
	vertical-align: middle; /* Выравнивание по вертикали с текстом */
	display: inline-block; /* Позволяет элементу занимать только нужное место */
}
button:active {
	transform: scale(1.1);
}
/* Устанавливаем размеры и цвет фона для скроллбара */
::-webkit-scrollbar {
	width: 5px;
	height: 0px;
}
/* Стилизуем ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: #b00000;
	border-radius: 5px;
}
/* Стили для ползунка при наведении курсора */
::-webkit-scrollbar-thumb:hover {
	background: #910505;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
}
iframe { 
	width: 100vw;
	height: 100vh; 
	border: none; 
}
div {
	margin: 0px;
	padding: 0px;
}